$color--black:#000;
$color--white:#fff;
$color--yellow:#FC0;
body{

  h1{
    text-align:center;
    display:flex;
    justify-content: center;
    background-color:$color--black;
  }
  h2{
    color:$color--yellow;
  }
  p{text-align:center;}
}