@charset "UTF-8";
/*   */
body{
  font-size:18px;
  background-color:#eee;
}
article{}

article>h1{
  margin-bottom:1.5em/* 88px */;
  font-size:4em/* 67px */;
  color:#fff;
  line-height:2.5em/* 150px */;
  text-align:center;
  font-weight:bold;
  background-color:#333;
}

article>div{
  width:70%/* 935px */;
  margin: 0 auto;
  display:flex;
  /* flex-direction:row; */
  flex-wrap:wrap;
  justify-content: space-around;
}
article>div>figure{
  width:calc(33.3333333% - 1em);
  /* width:31.55080213903743%;
  width:295px ; */
  margin-bottom:1em;
  background-color:#fff;

}
/* font-size:18px */
article>div>figure>figcaption{
  /* padding:36px 26px 20px; */
  padding:2em 1.444em 1.11111em;
}
article>div>figure dl{}
article>div>figure dl>dt{
  font-size:1.5em/* 20px */;
  font-weight:bold;
  margin-bottom:1em/* 30px */;
  letter-spacing:-0.5px;
}
article>div>figure dl>dd{
  line-height:1.5em;
  margin-bottom:0.5em/* 10px */;
}





article>div>figure>img{
  width:100%;
}








  /*  */
